#xcode files
*.mode*
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata/

#builds
build/
obj/
*.o
*.app
*.dll
*.exe
*.exp
*.ilk
*.lib
*.pdb

#mac files
.DS_Store
*.pbxproj

*.pbxproj
chinoPinball.sdf
chinoPinball.xcodeproj/project.pbxproj

chinoPinball.xcodeproj/project.pbxproj

